.contact{
    margin:80px auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-col{
    flex-basis: 48%;
}
.contact-col img{
    margin-top: 10px;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.contact-col h3, .contact-col p, .contact-col ul li{
    color: black;
}
.contact-col h3{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.contact-col ul{
    padding: 0;
}
.contact-col ul li{
    list-style: none;
}
.contact-col ul li img{
    width: 20px;
}
.contact-col form input, .contact-col form textarea{
    width:100%;
    border: 0;
    outline: 0;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: none;
    background: #EBECFE;
}
.contact-col form label{
    color: rgb(66, 66, 161);
    font-size: 18px;
    font-weight: 600;
}


/*-------------Media Query-------------*/
@media (max-width:1200px){
    .contact{
        width: 80%;
    }
}
@media (max-width:800px){
    .contact{
        display: block;
    }
    .contact-col{
        margin: 20px auto;
    }
}