.testimonial{
    margin: 80px auto;
    width:80%;
    position: relative;
    display: flex;
    justify-content: center;
}
.next_icon, .prev_icon{
    position: absolute;
    background: darkblue;
    border-radius: 50%;
    width: 30px;
    padding: 15px;
    top:50%;
    right:0;
    transform: translateY(-50%);
    cursor: pointer;
}
.prev_icon{
    right:auto;
    left:0;
}
.slider{
    overflow: hidden;
    width:90%;
}
.slider ul{
    display: flex;
    width:200%;
    overflow-x: hidden;
    transition: 0.5s;
}
.slider ul li{
    list-style: none;
    width:50%;
    padding-right: 20px;
}
.slide{
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 10px;
    line-height: 1.4;
}
.user img{
    width:65px;
    border-radius: 50%;
    margin-right: 10px;
    border: 4px solid #212EA0;
}
.user{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    font-size: 15px;
}
.user h3{
    color:#212EA0;
    font-weight: bold;
    font-size: 25px;
}
.user span{
    color:black;
}
.slide p{
    color:black;
}


/*------------Media Query------------*/
@media (max-width:1200px){
    .testimonial{
        width: 90%;
    }
}
@media (max-width:880px){
    .next_icon, .prev_icon{
        width:20px;
        padding: 10px;
    }
}
@media (max-width:680px){
    .slide{
        padding: 5px;
    }
    .user img{
        width:40px;
    }
    .user h3{
        font-size: 16px;
    }
    .next_icon{
        right:-20px;
    }
}