.campus{
    margin:80px auto;
    width: 70%;
    text-align: center;
}
.gallery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.gallery img{
    width:23%;
    border-radius: 10px;
}


/*-------------Media Query--------------*/
@media (max-width:1200px){
    .campus{
        width: 80%;
    }
}
@media (max-width:800px){
    .gallery{
        flex-wrap: wrap;
    }
    .gallery img{
        width:48%;
        margin: 10px 0;
    }
}